trigger:
  - main

pool:
  vmImage: 'macOS-14'

variables:
  - group: AppleSigning
  - name: buildConfiguration
    value: 'Release'

steps:
- task: DownloadSecureFile@1
  name: p12Cert
  inputs:
    secureFile: 'iOS_Distribution.p12'

- task: DownloadSecureFile@1
  name: provProfile
  inputs:
    secureFile: 'CsvProcessor.mobileprovision'

- task: UseDotNet@2
  inputs:
    version: '8.0.x'

- script: |
    dotnet workload install maui ios
  displayName: 'Install MAUI iOS'

- script: dotnet restore CsvProcessor.csproj -f net8.0-ios
  displayName: 'Restore'

- script: |
    security create-keychain -p "$(KEYCHAIN_PASSWORD)" build.keychain
    security default-keychain -s build.keychain
    security unlock-keychain -p "$(KEYCHAIN_PASSWORD)" build.keychain
    security import "$(p12Cert.secureFilePath)" -P "$(P12_PASSWORD)" -A -t cert -f pkcs12
    security set-key-partition-list -S apple-tool:,apple: -s -k "$(KEYCHAIN_PASSWORD)" build.keychain
    
    mkdir -p ~/Library/MobileDevice/Provisioning\ Profiles
    cp "$(provProfile.secureFilePath)" ~/Library/MobileDevice/Provisioning\ Profiles/
  displayName: 'Setup Signing'
  env:
    KEYCHAIN_PASSWORD: $(KEYCHAIN_PASSWORD)
    CERTIFICATE_PASSWORD: $(P12_PASSWORD)

- script: |
    dotnet publish CsvProcessor.csproj \
      -f net8.0-ios \
      -c $(buildConfiguration) \
      -p:RuntimeIdentifier=ios-arm64 \
      -p:CodesignKey="iPhone Distribution: Forevermark Marketing(Shanghai) Limited" \
      -p:CodesignProvision="FM_CLIENTING" \
      -p:BuildIpa=true \
      -p:IpaPackagePath=$(Build.ArtifactStagingDirectory)/CsvProcessor.ipa
  displayName: 'Build iOS IPA'

- task: PublishBuildArtifacts@1
  inputs:
    pathToPublish: '$(Build.ArtifactStagingDirectory)'
    artifactName: 'iOS-IPA'