trigger:
  - main

pool:
  vmImage: 'macOS-14'

variables:
  buildConfiguration: 'Release'

steps:
- task: UseDotNet@2
  inputs:
    version: '8.0.x'  # 使用 .NET 8

- script: |
    dotnet workload install maui
    dotnet workload install maui-maccatalyst
  displayName: 'Install MAUI Workloads'

- script: dotnet restore CsvProcessor.csproj
  displayName: 'Restore'

- script: |
    export DOTNET_CLI_TELEMETRY_OPTOUT=1
    dotnet publish CsvProcessor.csproj \
      -f net8.0-maccatalyst17.5 \
      -c $(buildConfiguration) \
      -p:CheckEolTargetFramework=false \
      -p:EnableCodeSigning=false \
      -p:EnablePackageSigning=false \
      -p:CreatePackage=true \
      -o $(Build.ArtifactStagingDirectory)
  displayName: 'Build macOS App'

- task: PublishBuildArtifacts@1
  inputs:
    pathToPublish: '$(Build.ArtifactStagingDirectory)'
    artifactName: 'macOS-App'