trigger:
  - main

pool:
  vmImage: 'macOS-14'

variables:
  buildConfiguration: 'Release'

steps:
- task: UseDotNet@2
  inputs:
    version: '9.0.100'  # 固定早期版本

- script: |
    # 安装与 Xcode 15.4 兼容的 MAUI 版本
    dotnet workload install maui --version 8.0.100
    dotnet workload install maui-maccatalyst --version 8.0.100
  displayName: 'Install MAUI 8.0.100'

- script: dotnet restore CsvProcessor.csproj
  displayName: 'Restore'

- script: |
    dotnet publish CsvProcessor.csproj \
      -f net9.0-maccatalyst \
      -c $(buildConfiguration) \
      -p:EnableCodeSigning=false \
      -p:EnablePackageSigning=false \
      -p:CreatePackage=true \
      -o $(Build.ArtifactStagingDirectory)
  displayName: 'Build macOS App'

- task: PublishBuildArtifacts@1
  inputs:
    pathToPublish: '$(Build.ArtifactStagingDirectory)'
    artifactName: 'macOS-App'