trigger:
  - main

pool:
  vmImage: 'macOS-15'  # 升级镜像

variables:
  buildConfiguration: 'Release'

steps:
- task: UseDotNet@2
  inputs:
    version: '9.0.x'

- script: |
    sudo xcode-select -s /Applications/Xcode_16.app
    xcodebuild -version
  displayName: 'Select Xcode 16'

- script: |
    dotnet workload install maui
    dotnet workload install maui-maccatalyst
  displayName: 'Install MAUI Workloads'

- script: dotnet restore CsvProcessor.csproj
  displayName: 'Restore Packages'

- script: |
    dotnet publish CsvProcessor.csproj \
      -f net9.0-maccatalyst \
      -c $(buildConfiguration) \
      -p:EnableCodeSigning=false \
      -p:EnablePackageSigning=false \
      -p:CreatePackage=true \
      -p:PublishTrimmed=true \
      -p:TrimMode=partial \
      -o $(Build.ArtifactStagingDirectory)
  displayName: 'Build macOS App'

- task: PublishBuildArtifacts@1
  inputs:
    pathToPublish: '$(Build.ArtifactStagingDirectory)'
    artifactName: 'macOS-App'